/3. ΚΑΙΝΟΥΡΙΑ_ΑΠΟΘΗΚΗ.db
/Book1.xlsx
/italia.db
/sharp_db.csv
/konica_db.xlsx
/konica_db.csv
/Παραγγελίες Ιταλία.ui
/credentials.yml
/logs/
/ΙΤΑΛΙΑ.xlsx
/ΙΤΑΛΙΑ - Copy.xlsx
/styled.xlsx
/add_spare_part.ui
/italia.spec
